/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 3, 2018, 1:09:28 AM
    Author     : Sorabh86 <ssorabh.ssharma@gmail.com>
*/
body{
    background: #ccc;
}

.form-signin {
    width: 300px;
    margin: 80px auto;
}